
<nav class="navbar fixed-top navbar-expand-md navbar-light">
	<div class="container">
		<a class="navbar-brand" routerLink="products">categories</a>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#prodMain">
			<span class="navbar-toggler-icon"><i class="fa-solid fa-bars" style="font-size: 1.6em;"></i></span>
		</button>
	</div>
	<div class="container">
		<div class="navbar-collapse collapse" id="prodMain">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a routerLink="customers" routerLinkActive="active" class="nav-link">automation</a></li>
        <li class="nav-item"><a routerLink="products" routerLinkActive="active" class="nav-link">surveillance</a></li>							
        <li class="nav-item"><a routerLink="products" routerLinkActive="active" class="nav-link">intrusion</a></li>							
        <li class="nav-item"><a routerLink="products" routerLinkActive="active" class="nav-link">fencing</a></li>							
        <li class="nav-item"><a routerLink="products" routerLinkActive="active" class="nav-link">access control</a></li>							
        <li class="nav-item"><a routerLink="products" routerLinkActive="active" class="nav-link">intercom</a></li>
        <li class="nav-item"><a routerLink="products" routerLinkActive="active" class="nav-link">cabling</a></li>
        <li class="nav-item"><a routerLink="products" routerLinkActive="active" class="nav-link">power</a></li>
        <li class="nav-item"><a routerLink="products" routerLinkActive="active" class="nav-link">tools</a></li>
			</ul>
		</div>
	</div>
</nav>
