<div *ngIf="closedForm==false">
  <div *ngIf="displayForm3">
    <div  class="heading">
      <form (ngSubmit)="onCategorySubmit()" method="post" role="form">
        <div *ngIf="formError" class="alert alert-danger">
            {{formError}}
        </div> 
        <div class="form-group">
          <label for="category">Category</label>
          <select  [(ngModel)]="formCat.category" 
              class="form-control bg" id="category" name="category"
              (change)="categoryChanged($event)">
              <option  class="form-control bg" *ngFor="let cat of categoriesFull">{{cat}}</option>
          </select>
        </div>
      </form>
    </div>                  
    <div class="heading">
      <form (ngSubmit)="onSubCategorySubmit()" method="post" role="form">
        <div *ngIf="formError" class="alert alert-danger">
            {{formError}}
        </div> 
        <div class="form-group">
          <label for="category">Sub-category</label>
          <select  [(ngModel)]="formCat2.subCategory"
           class="form-control bg" id="category"
            name="category" (change)="subCategoryChanged($event)">
              <option  class="form-control bg" *ngFor="let cat of subCategoriesFull">{{cat}}</option>
          </select>
        </div>
      </form>
    </div> 

    <div *ngIf="subCategorySelected">
        <form (ngSubmit)="onQuoteSubmit()" method="post" role="form">
          <div *ngIf="formError" class="alert alert-danger">
            {{formError}}
          </div>
          <div *ngIf="itemAdded" class="alert alert-success">
            <p>{{formQuoteItem.summary}} added</p>
          </div>
          <div class="form-group row">
            <div class="col-7 col-md-7">
                <label  for="product">Product</label>
                <select [(ngModel)]="formQuoteItem.product" class="form-control input-sm" id="name" name="product">                             
                  <option *ngFor="let product of products">{{product.name}}</option>
                </select>
            </div>
            <div class="col-3 col-md-3">
                <label  for="product">Qty</label>
                <select [(ngModel)]="formQuoteItem.quantity" class="form-control input-sm" id="name" name="quantity"> 
                  <option *ngFor="let item of counts">{{item}}</option>
                </select>                         
            </div>
            <div class="col-2 col-md-2">
              <small>
                <button (click)="addItemToQuote()" type="button" role="button" class="btn-primary sm-button"><i class="fa-sharp fa-solid fa-cart-plus"></i></button>
              </small>
            </div>
          </div> 
          <div class="form-group">
          </div>
          <small><button  type="submit" role="button" class="btn-primary sm-button">quote</button></small>
          <small><button (click)="resetAndHideQuoteForm()" type="button" role="button" class="btn-primary sm-button"><i class="fa-solid fa-xmark"></i></button></small>
        </form>
      </div>                 
  </div>
</div>