<h4 class="heading">
  Welcome!
</h4>
<p class="heading" style="font-size: medium;">
  Ngamla! is an invoicing web application that is specifically tuned to the needs of small and medium Installation enterprises.
 </p>
<p class="heading" style="font-size: small;">
  The goal of Ngamla! is to help installers quickly and accurately prepare business documents - quotations, invoices, purchase-orders
  and pay slips – while ensuring effective interaction with employees, customers and suppliers. Ngamla! also assists businesses with
  accessing supplier price lists, maintaining records of transactions on cloud, monitoring business activities and much more.
  
</p>
