<h4 class="heading">
  
</h4>
<p class="heading" style="font-size: medium;">
  InstaDocu is a web-based application that assists Installers/System Integrators quickly and accurately prepare quotations, invoices and purchase orders from anywhere using any device. 
 </p>
 <br>
<p class="heading" style="font-size: small;">
  InstaDocu will help you secure clients faster, consolidate deals and communicate effectively with customers, suppliers and subcontractors.  
</p>
<br>
<br>
<div class="card card-primary" *ngIf="getUserName() == 'admin'">
  <div class="card-block" *ngIf="users">
    <h2 class="card-title">App Usage </h2>
    <p class="card-text">Users : {{users.activeUsers}}</p>
    <p class="card-text">Quotes : {{users.completedQuotes}}</p>
    <p class="card-text">Invoices: {{users.completedInvoices}}</p>
    <p class="card-text">Purchase Orders: {{users.completedPOs}}</p>
  </div>
</div>
