<h4 class="heading">
  Hello World.
</h4>
<p class="heading" style="font-size: medium;">
  Ngamla! is a cloud-based application that is specifically tuned to the needs of small and medium enterprises.
 </p>
 <br>
<p class="heading" style="font-size: small;">
  Ngamla! uses the latest in web technology to assist installers quickly and accurately prepare business documents, access supplier price lists,
  maintain records of transactions on cloud, monitor business activities and much more. 
</p>
<br>
<br>
<div class="card card-primary" *ngIf="getUserName() == 'admin'">
  <div class="card-block" *ngIf="users">
    <h2 class="card-title">App Usage </h2>
    <p class="card-text">Users : {{users.activeUsers}}</p>
    <p class="card-text">Quotes : {{users.completedQuotes}}</p>
    <p class="card-text">Invoices: {{users.completedInvoices}}</p>
    <p class="card-text">Purchase Orders: {{users.completedPOs}}</p>
  </div>
</div>
