<div *ngIf="displayForm==true">
  <div *ngIf="closeForm == false">
    <form (ngSubmit)="onQuoteSubmit()" method="post" role="form">
      <div *ngIf="formError" class="alert alert-danger">
        {{formError}}</div>
        <div *ngIf="itemAdded" class="alert alert-success">
          <p>{{formQuoteItem.summary}} added</p>
        </div>
      <div class="form-group row">
        <div class="col-7 col-md-7">
          <label  for="panel">Panel</label>
          <select [(ngModel)]="formQuoteItem.panel" class="form-control input-sm" id="panel" name="panel">
           <option *ngFor="let product of panels">{{product.name}}</option> 
          </select>
          <p>hello{{panels.length}}</p>
        </div>
        <div class="col-3 col-md-3">
          <label  for="quantity">Qty</label>
          <select [(ngModel)]="formQuoteItem.quantity" class="form-control input-sm" id="quantity" name="quantity">
           <option></option>
           <option *ngFor="let item of counts">{{item}}</option>
          </select>                         
        </div>
    </div>  
     <div class="form-group row">
        <div class="col-7 col-md-7">
          <label  for="inverter">Inverter</label>
          <select [(ngModel)]="formQuoteItem.inverter" class="form-control input-sm" id="inverter" name="inverter">
           <option></option>
           <option *ngFor="let product of inverters">{{product.name}}</option>
          </select>
        </div>
        <div class="col-3 col-md-3">
          <label  for="quantity">Qty</label>
          <select [(ngModel)]="formQuoteItem.quantity" class="form-control input-sm" id="quantity" name="quantity">
           <option></option>
           <option *ngFor="let item of counts">{{item}}</option>
          </select>                         
        </div>
    </div>
     <div class="form-group row">
        <div class="col-7 col-md-7">
          <label  for="roof">Roof</label>
          <select [(ngModel)]="formQuoteItem.roof" class="form-control input-sm" id="roof" name="roof">
           <option></option>
           <option *ngFor="let product of roofs">{{product.name}}</option>
          </select>
        </div>
        <div class="col-3 col-md-3">
          <label  for="quantity">Qty</label>
          <select [(ngModel)]="formQuoteItem.quantity" class="form-control input-sm" id="quantity" name="quantity">
           <option></option>
           <option *ngFor="let item of counts">{{item}}</option>
          </select>                         
        </div>
    </div>  
      <div class="form-group">
      </div>
      <small><button  type="submit" role="button" class="btn-primary sm-button">quote</button></small>
      <small><button (click)="resetAndHideQuoteForm()" type="button" role="button" class="btn-primary sm-button"><i class="fa-solid fa-xmark"></i></button></small>
    </form>  
  </div>
  

  </div>
  