<div *ngIf="displayForm==true">
  <div *ngIf="closeForm == false">
    <form (ngSubmit)="onQuoteSubmit()" method="post" role="form">
      <div *ngIf="formError" class="alert alert-danger">
        {{formError}}</div>
        <div *ngIf="itemAdded" class="alert alert-success">
          <p>{{formQuoteItem.summary}} added</p>
        </div>
      <div class="form-group row">
          <div class="col-7 col-md-7">
            <label  for="product">Product</label>
            <select [(ngModel)]="formQuoteItem.product" class="form-control input-sm" id="name" name="product">
             <option></option>
             <option *ngFor="let product of prods">{{product.name}}</option>
            </select>
          </div>
          <div class="col-3 col-md-3">
            <label  for="product">Qty</label>
            <select [(ngModel)]="formQuoteItem.quantity" class="form-control input-sm" id="name" name="quantity">
             <option></option>
             <option *ngFor="let item of counts">{{item}}</option>
            </select>                         
          </div>
          <div class="col-2 col-md-2">
            <small><button (click)="addItemToQuote()" type="button" role="button" class="btn-primary sm-button"><i class="fa-sharp fa-solid fa-cart-plus"></i></button></small>
          </div>
      </div>  
      <div class="form-group">
      </div>
      <small><button  type="submit" role="button" class="btn-primary sm-button">quote</button></small>
      <small><button (click)="resetAndHideQuoteForm()" type="button" role="button" class="btn-primary sm-button"><i class="fa-solid fa-xmark"></i></button></small>
    </form>  
  </div>
  

  </div>
  