<div *ngIf="displayForm">
  <h2>Travelling and Labour</h2>
  <div *ngIf="!closeForm">
    <form (ngSubmit)="onQuoteSubmit()" method="post" role="form">
      <div *ngIf="formError" class="alert alert-danger">
        {{formError}}</div>
        <div *ngIf="itemAdded" class="alert alert-success">
          <p>{{formQuoteItem.summary}} added</p>
        </div>
      <div class="form-group row">
        <div class="col-7 col-md-7">
          <label  for="pvw">travelling</label>
          <select [(ngModel)]="formQuoteItem6.travel" class="form-control input-sm" id="pvw" name="pvw">
           <option *ngFor="let product of travels">{{product.name}}</option> 
          </select>
        </div>
        <div class="col-3 col-md-3">
          <label  for="quantityT">Qty</label>
          <select [(ngModel)]="formQuoteItem6.quantityT" class="form-control input-sm" id="quantityT" name="quantityT">
           <option *ngFor="let item of counts">{{item}}</option>
          </select>                         
        </div>
    </div>  
     <div class="form-group row">
        <div class="col-7 col-md-7">
          <label  for="trc">assessment</label>
          <select [(ngModel)]="formQuoteItem6.assess" class="form-control input-sm" id="trc" name="trc">
           <option *ngFor="let product of assess">{{product.name}}</option>
          </select>
        </div>
        <div class="col-3 col-md-3">
          <label  for="quantityP">Qty</label>
          <select [(ngModel)]="formQuoteItem6.quantityS" class="form-control input-sm" id="quantityP" name="quantityP">
           <option *ngFor="let item of counts">{{item}}</option>
          </select>                         
        </div>
    </div>
      <div class="form-group row">
        <div class="col-7 col-md-7">
          <label  for="stand">labour</label>
          <select [(ngModel)]="formQuoteItem6.labour" class="form-control input-sm" id="stand" name="stand">
           <option *ngFor="let product of labs">{{product.name}}</option>
          </select>
        </div>
        <div class="col-3 col-md-3">
          <label  for="quantityS">Qty</label>
          <select [(ngModel)]="formQuoteItem6.quantityL" class="form-control input-sm" id="quantityS" name="quantityS">
           <option *ngFor="let item of counts">{{item}}</option>
          </select>                         
        </div>
    </div>       
      <div class="form-group">
      </div>
      <small><button  type="submit" role="button" class="btn-primary sm-button">quote</button></small>
      <small><button (click)="resetAndHideQuoteForm()" type="button" role="button" class="btn-primary sm-button"><i class="fa-solid fa-xmark"></i></button></small>
    </form>  
  </div>
  </div>
  