<table>
  <tr>
    <th class="wide" style="text-align:center;">Product</th>
    <th class="wider" style="text-align:center;">Description</th>
    <th class="narrow" style="text-align:center;">Quantity</th>
    <th class="narrow" style="text-align:center;">Price/Unit</th>
    <th class="narrow" style="text-align:center;">Amount</th>
  </tr>
  <tr *ngFor="let item of content.invoiceItems">
    <td class="wide">{{item.product}}</td>
    <td class="wider">{{item.description}}</td>
    <td class="narrow">{{item.quantity}}</td>
    <td class="narrow">{{item.productAmount | currency : 'R' : true}}</td>
    <td class="narrow">{{item.productAmount * item.quantity | currency : 'R' : true}}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td class="narrow" style="font-weight: bold; font-size: 1.2em">Total: </td>
    <td class="narrow" style="font-weight: bold; font-size: 1.2em">{{content.amount | currency : 'R' : true }} </td>
  </tr>
</table>