<div class="parent5">
  <p>Quote excludes additional electrical reticulation , scafolding hire and civil works ( Trenches )
  </p>
  <p>System design is of a hybrid topology that will make use of municipal supply from time to time and therefore not OFFGRID
  </p>
  <p>
    Labour and travelling costs exclude waiting time and all work is quoted to occur uninterrupted and concurrently 
  </p>
  <p>Inverter hybrid -> 1 year warranty
  </p>
  <p>
    LI-Ion battery  cycle life >3500 cycles at DOD 85%  25°C -> 8 years manufacturer warranty
  </p>
  <p>
    AGM (Gel) battery  cycle life > 900 cycles at DOD 50% 25°C -> 1 year manfucaturer warranty
  </p>
</div>
<div class="parent5">
  <p>
  To the extent allowed by law, and notwithstanding any other provision of this agreement:
  </p>
  <p>Any goods supplied by the company shall be subject to the manufacturing company’s warranty; </p>
  <p>The only entitlement you shall have in respect of those goods shall be to require Intergrated Energy Systems to enforce such warranty against the manufacturer of those goods on your behalf. </p>
  <p>The warranty shall immediately be rendered null and void in the event of any of the following: </p>
  <p>Failure to use the products in accordance with instructions and specifications provided by the Manufacturer; </p>
  <p>Should the product be subjected to physical damage, abuse, misuse, alteration, neglect, tampering, improper maintenance, or has been serviced, repaired, installed by persons not possessing the necessary qualifications required to do so </p>
  <p>The product is not returned with an invoice/verifiable method confirming proof of purchase.</p>				       
</div>
<div class="parent5">
<p>Quote valid for 14 days. </p> 
  <p>Goods remain the property of Intergated Energy Systems until full payment is received.
  </p>
  <p>Payment of 80% upfront, 10% before delivery  and 10% on completion
  </p>
  <p>If the balance is not settled in 7 working days after completion ,Intergrated Energy Solutions reserves the right to remove the good and you will be liable for any loss or damages incurred.						
  </p>
</div>
<div class="parent6">
<p>Members: Sibusiso Nkabinde (Managing)  Siphiwe Thabethe (Technical )</p> 
</div>